<div class="container well">

  <%= render 'layouts/validation_errors', obj: @person %>

  <%= form_for([@company, @person]) do |f| %>
      <%# form_for @person, url: {action: 'update'} do |f| %>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <%= f.label :name, 'ФИО:' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :jobtitle, 'Должность:' %>
            <%= f.text_field :jobtitle, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :phone, 'Гор. Телефон:' %>
            <%= f.text_field :phone, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :mobphone, 'Моб. Телефон:' %>
            <%= f.text_field :mobphone, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email, 'E-Mail:' %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          <div class="checkbox">
            <%= f.label :inactive do %>
                <%= f.check_box :inactive %> Архивный элемент
            <% end %>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <%= f.label :comments, 'Доп. Информация:' %>
            <%= f.text_area :comments, class: 'form-control text-area-no-width-resize', rows: 23 %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <hr>
          <%= button_tag(type: 'submit', class: 'btn btn-sm btn-primary') do %>
              <i class="glyphicon glyphicon-ok"></i> Сохранить изменения
          <% end %>
          <%= link_to 'Отмена', company_path(@company, company_type: @company.company_type_id), class: 'btn btn-sm btn-default' %>
          <div class="pull-right">
            <%= link_to [@company, @person], data: {confirm: 'Действительно хотите удалить элемент?'},
                        method: :delete, class: 'btn btn-sm btn-danger' do %>
                <i class="glyphicon glyphicon-remove"></i> Удалить контакт
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>
