<div class="jumbotron dark">
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-6 hidden-sm hidden-xs">
        <div class="logo">
        </div>
      </div>
      <!--<div class="col-xs-6 col-xs-offset-3">-->
      <div class="col-md-6 col-md-offset-0 col-xs-6 col-xs-offset-3">

        <%= form_tag '/login' do %>
            <div class="form-group">
              <%= label_tag 'name', 'Имя пользователя:' %>
              <%= select_tag :name,
                             options_from_collection_for_select(@users, 'id', 'name'),
                             class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= label_tag 'password', 'Пароль:' %>
              <%= password_field_tag :password, nil, class: 'form-control' %>
            </div>
            <br>

            <div class="text-center">
              <%= button_tag(type: 'submit', class: 'btn btn-sm btn-primary btn-block') do %>
                  <i class="glyphicon glyphicon-ok"></i> Вход

              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
</div>