<div class="col-xs-10 well">
  <%= form_for @company do |f| %>
      <div class="company-details">
        <div class="row">
          <div class="col-xs-6">
            <%= hidden_field_tag :company_type, @company_type %>
            <div class="form-group">
              <%= f.label :name, 'Наименование:' %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :fname, 'Полное наименование:' %>
              <%= f.text_field :fname, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :address, 'Фактический адрес:' %>
              <%= f.text_field :address, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :uraddress, 'Юридический адрес:' %>
              <%= f.text_field :uraddress, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :contract, 'Договор:' %>
              <%= f.text_field :contract, class: 'form-control', disabled: true %>
            </div>
            <div class="form-group">
              <%= f.label :phone, 'Телефон \ факс:' %>
              <%= f.text_field :phone, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :email, 'Email:' %>
              <%= f.text_field :email, class: 'form-control' %>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <%= f.label :comments, 'Заметки:' %>
              <%= f.text_area :comments, class: 'form-control text-area-no-width-resize', rows: 23 %>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-xs-12">
            <%= render 'people' %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <hr>
            <%= button_tag(type: 'submit', class: 'btn btn-sm btn-primary') do %>
                <i class="glyphicon glyphicon-ok"></i> Сохранить изменения
            <% end %>
            <% if !@company.new_record? %>
                <%= link_to 'Добавить контакт',
                            new_company_person_path(company_id: params[:id], company_type: params[:company_type]),
                            method: :get, class: 'btn btn-sm btn-default' %>
                <div class="pull-right">
                  <%# link_to new_company_person_path(company_id: params[:id]),
                            method: :get, class: 'btn btn-sm btn-danger' do %>
                  <!--<i class="glyphicon glyphicon-remove"></i> Удалить организацию-->
                  <%# end %>
                  <%= link_to @company,
                              data: {confirm: "Этим действием вы также удалите все подчиненные элементы.\n\n" +
                                      "Действительно хотите удалить организацию?"},
                              method: :delete, class: 'btn btn-sm btn-danger' do %>
                      <i class="glyphicon glyphicon-remove"></i> Удалить организацию
                  <% end %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>