<div class="col-xs-2">
  <%= form_tag(companies_path, {method: 'get', id: 'select_type_form'}) do %>
      <%= select_tag 'company_type',
                     options_from_collection_for_select(@company_types, 'id', 'name', params[:company_type]),
                     onchange: "$('#select_type_form').submit();",
                     class: 'form-control' %>
  <% end %>
  <div class="companies-table">
    <table class="table table-bordered table-hover">
      <% @companies.each do |company| %>
          <tr <%= color_active_company(company, params[:id]) %>>
            <td>
              <%= link_to company.name, company_path(company, {company_type: company.company_type}) %>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
  <%= link_to new_company_path(company_type: params[:company_type] || 1),
              method: :get, class: 'btn btn-sm btn-default btn-block' do %>
      <i class="glyphicon glyphicon-plus"></i> Добавить организацию
  <% end %>
</div>