<div class="people-table">
  <table class="table table-bordered table-hover">
    <tr>
      <th>
        ФИО
      </th>
      <th>
        Гор. Телефон
      </th>
      <th>
        Моб. Телефон
      </th>
      <th>
        E-Mail
      </th>
      <th>
        Должность
      </th>
      <th>
        Доп.Информация
      </th>
    </tr>
    <% @people.each do |person| %>
        <tr class="<%= person.inactive? ? 'inactive': '' %>">
          <td>
            <%= link_to person.name, company_person_path(person, { company_id: @company.id }) %>
          </td>
          <td>
            <%= person.phone %>
          </td>
          <td>
            <%= person.mobphone %>
          </td>
          <td>
            <% if (str_is_email?(person.email)) %>
                <a href="mailto:<%= person.email %>"><%= person.email %></a>
            <% else %>
                <%= person.email %>
            <% end %>
          </td>
          <td>
            <%= person.jobtitle %>
          </td>
          <td>
            <%= person.comments %>
          </td>
        </tr>
    <% end %>
  </table>
</div>