/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    min-width: 1000px;
}

.messages {
    position: fixed;
    z-index: 255;
    opacity: 0.9;
}

.navbar-brand.navbar-brand-custom-font {
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size: 36px;
    color: white;
}

.navbar-brand.navbar-brand-custom-font b {
    color: #ef3125;
}

.navbar-header img {
    padding-top: 9px;
    padding-bottom: 9px;
    margin-right: 12px;
}