// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.companies-table {
  border: 1px solid lightgray;
  height: 82vh; /* in viewports */
  overflow-x: auto;
  font-size: 0.9em;
}

.current-company td {
  background-color: #F5F5F5;
  font-weight: bold;
}

.company-details-stub {
  height: 85vh;
  font-size: 0.9em;
  position: relative;
}

.company-details-stub h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  line-height: 30px;
  margin-top: -30px;
  color: lightgray;
  font-weight: bold;
  font-style: italic;
}

.text-area-no-width-resize {
  resize: none;
}

.people-table {
  max-height: 200px; /* in viewports */
  overflow-x: auto;
  border: 1px solid lightgray;
}

.people-table td {
  white-space: nowrap;
  overflow: hidden;
}

tr.inactive {
  color: grey;
}

tr.inactive a {
  color: grey;
  //text-decoration: line-through;
}

tr.inactive a[href^="mailto"] {
  pointer-events: none;
  cursor: default;
}