// Place all the styles related to the Logins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron.dark {
  background-color: #222;
  margin-top: 100px;
  label {
    color: white;
  }
}

.logo {
  border: 0px;
  background: url('company_logo.png') no-repeat 0 -10px;
  min-width: 441px;
  height: 247px;
}