<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="row">
      <%# image_tag('handbook.png', size: '32x32', alt: 'Program Icon') %>

      <div class="navbar-header">
        <%= image_tag('handbook.png', alt: 'Program Icon', class: 'pull-left') %>
        <a href="/" class="navbar-brand navbar-brand-custom-font">Handbook <b>NEXT</b></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if user_is_authenticated? %>
            <li><a href="/">На главную</a></li>
            <li class="active"><%= link_to 'Организации', companies_path, class: 'active' %></li>
            <li><%= link_to 'Выход', logout_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>