<div class="messages" id="messages">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 text-center">
        <% flash.each do |msg_type, msg| %>
            <div class="alert alert-<%= msg_type %>">
              <%= msg %>
              <a class="close" data-dismiss="alert">&#215;</a>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
    $(function () {
        $('#messages').delay(2000).fadeOut(1000);
    });
</script>