<% if obj.errors.any? %>
    <div class="row">
      <div class="alert alert-danger col-xs-10 col-xs-offset-1">
        <h5>Поля формы заполнены неверно:</h5>
        <ul>
          <% obj.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>